<!-- [ngStyle]="{ 'grid-column': item.gridColumn, 'grid-row': item.gridRow }" 
  [style.grid-template-columns]="gridColumns"
  [style.grid-template-rows]="gridRows"
-->

<div class="grid__gallery-container">
  <div *ngFor="let item of photos; let i = index" class="grid__gallery-item">
    <img src="{{ item.src }}" (click)="onPhotoClick(item)" [alt]="item.alt" />
  </div>
</div>
<div
  class="photo__gallery-popup"
  *ngIf="selectedPhoto"
  [@popupAnimation]="popupState"
>
  <div class="popUp__button-wrapper">
    <button (click)="closePhotoPopup()" class="popUp__close-button">
      Закрыть
    </button>
  </div>

  <div class="photo__gallery-popup-content">
    <swiper [config]="config">
      <ng-container *ngFor="let innerPhoto of selectedPhoto.seriesPhotos">
        <ng-template swiperSlide *ngIf="innerPhoto.src">
          <img
            [src]="innerPhoto.src"
            [alt]="innerPhoto.alt"
            class="popup__content-item"
          />
        </ng-template>
      </ng-container>
    </swiper>
  </div>
  <div class="gallery__popup-overlay"></div>
</div>
