.grid__gallery-container {
  // display: grid;
  display: flex;
  grid-gap: 10px;
  width: 100%;
  max-width: 350px;
  height: 100%;
  & .grid__gallery-item img {
    width: 100%;
    max-width: 500px;
  }
}
.popup__content-item {
  width: 100%;
  max-width: 714px;
}
.photo__gallery-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 90;
  & .popUp__close-button {
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    border: none;
  }
}
.photo__gallery-popup-content {
  padding-top: 200px;
  width: 100%;
  max-width: 1903px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__popup-overlay {
  background-color: rgba($color: #ffffff, $alpha: 0.96);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
